// background-color
$light-mode-bg: white;
$dark-mode-bg: black;
$bg-light-gray: rgb(130, 130, 130);

$border-dark-gray: rgb(47, 51, 54);

$font-white: white;
$font-black: black;
$font-dark-gray: rgb(47, 51, 54);
$font-red: rgb(245, 80, 80);

$point-color: rgba(216, 152, 95, 0.982);
