@use "../../styles/color";
// 모바일 환경
@media screen and (max-width: 768px) {
  section.layout-content {
    display: flex;
    flex-direction: column;
    background-color: color.$dark-mode-bg;
    color: color.$font-white;
  }
}

// 데스크탑 환경
@media screen and (min-width: 1025px) {
  section.layout-content {
    background-color: color.$light-mode-bg;
  }
}

section.layout-content {
  width: 100%;
  height: calc(100vh + 48px);
  position: relative;
}

section.layout-content.padding {
  padding: 0 24px;
}
