@use "../../../../styles/color";

div.hashtag-cont {
  position: relative;
  label.hashtag-label {
    display: inline-block;
    margin: 8px 0;
  }
  div.hashtag-input-cont {
    display: flex;
    align-items: center;
    border: 1px solid color.$border-dark-gray;

    input.hashtag-input {
      width: 100%;
      padding: 8px 12px;
    }

    button {
      padding: 8px;
      font-size: 24px;
      color: color.$font-white;
      cursor: pointer;
    }
  }

  ul.search-list {
    position: absolute;
    width: 100%;
    max-height: 160px;
    overflow: scroll;
    list-style: none;
    background-color: color.$dark-mode-bg;
    border: 1px solid color.$border-dark-gray;

    li.search-item {
      padding: 8px 12px;
    }
  }

  ul.search-list.focused {
    display: block;
  }
}
