@use "../../styles/color";

article.post-cont {
  display: flex;
  border: 1px solid color.$border-dark-gray;
  padding: 12px 12px;
}

img.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

div.post-info-cont {
  margin-left: 12px;
  width: 100%;
  div.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    span {
      display: inline-block;
      padding-right: 8px;
    }

    button.more-btn {
      color: white;
      padding: 0;
    }
  }

  div.button-cont {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    button.like-btn {
      padding: 0;
      cursor: pointer;
    }
  }

  div.post-content {
    ul.post-img-cont {
      margin: 8px 0;
    }
  }
}
