@use "../../../../styles/color";

ul.hashtag-list {
  width: 100%;
  display: flex;
  gap: 8px;
  margin: 8px 0;
  list-style: none;
}

li.hashtag-item {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: color.$point-color;

  button {
    padding: 0;
    img {
      padding-top: 4px;
    }
  }
}
