@use "../../styles/color";

nav.bottomtab {
  background-color: color.$dark-mode-bg;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 52px;
  border-top: 1px solid color.$border-dark-gray;
}

nav ul.tab-list {
  display: flex;
  padding: 0 24px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

// 데스크탑 환경
@media screen and (min-width: 1025px) {
  nav.bottomtab {
    width: calc(100% - 480px);
  }
}
